footer {
    background-color: $ophidianblue;
    color: $white;
    font-size: $font-size-sm;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
    padding-left: $footer-padding-left;
    padding-right: $footer-padding-right;
    height: $footer-height;
    min-height: $footer-min-height;
    max-height: $footer-max-height;
}