@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body {
    height: 100%;
}

body {
    background-color: $gray-100;
    -webkit-font-smoothing: antialiased;
    //padding-top: 91px;
    padding-top: $header-height;
    font-family: 'Montserrat', sans-serif;
}

#flex-wrap {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    main {
        flex: 1;
    }
}

@media screen and (min-width: $breakpoint-md) {
    body {
        padding-top: $header-height-md;
    }
}
