nav {
    min-height: $header-height !important;
    background-color: $ophidianblue-darken-5;

    a {
        color: $white;

        &:hover {
            color: $ophidianorange;
        }
    }


    h3 {
        font-size: $font-size-base;
    }


    .navbar-brand {
        color: $white;
        background: url('../img/mbg_cookie.svg') center no-repeat;
        background-size: contain;
        width: $logo-width;
        height: $logo-height;

        &:hover {
            color: $white;
        }
    }

    .icons {
        a {
            color: $white;
            transition: 0.3s color;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $ophidianorange;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    nav {
        min-height: $header-height-md;

        .navbar-brand {
            width: $logo-width-md;
            height: $logo-width-md;
        }
    }
}