/*
https://medium.com/wdstack/bootstrap-sidebar-examples-e363021395ff
https://www.codeply.com/go/SufxS3ir55
*/

#tutorial {
    // height: 100%;
    height: $tutorial-main-height;
    min-height: $tutorial-main-height;
    max-height: $tutorial-main-height;
    font-size: $tutorial-font-size;

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: $tutorial-header-size;
    }
}

.row-offcanvas {
    height: 100%;
    position: relative;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    width: calc(100% + 100vw);
}

.row-offcanvas-left {
    left: -100vw;

    &.active {
        left: 0;
    }
}

#sidebar {
    //width: inherit;
    // min-width: 250px;
    // max-width: 250px;
    width: $tutorial-sidebar-width;
    min-width: $tutorial-sidebar-width;
    max-width: $tutorial-sidebar-width;
    background: $gray-200;
    float: left;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: $tutorial-sidebar-padding-top;
    padding-bottom: $tutorial-sidebar-padding-bottom;
    padding-left: $tutorial-sidebar-padding-left;
    padding-right: $tutorial-sidebar-padding-right;

    .nav-pills {
        .nav-link {
            color: $ophidianblue;

            &:hover {
                //background-color: lighten($ophidianorange, 20%);
                background-color: $ophidianorange-lighten-20;
                cursor: pointer;
            }

            &.active {
                background-color: $ophidianorange;
            }
        }
    }
}

.sidebar-offcanvas {
    position: absolute;
    top: 0;
}

#tutorial-main {
    height: initial;
    // min-height: calc(100vh - 91px - 84px);
    // max-height: calc(100vh - 91px - 84px);
    min-height: $tutorial-main-height;
    max-height: $tutorial-main-height;
    @include flexbox;
    @include flex-direction(column);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: $tutorial-main-padding-left;
    padding-right: $tutorial-main-padding-right;
    padding-top: $tutorial-main-padding-top;
    padding-bottom: $tutorial-main-padding-bottom;
}

#tutorial-wrapper {
    // height: initial;
    // min-height: calc(100% - 50px);
    // max-height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    @include flex-grow(1);
}

#prev-next-buttons {
    height: initial;
    min-height: 50px;
    max-height: 50px;
    @include flex-grow(0);
    @include flexbox;
    // display: flex;
    border-top: 1px solid $ophidianblue;
    padding: 5px;

    #prev {
        margin-right: auto;
    }

    #next {
        margin-left: auto;
    }

}



@media screen and (min-width: $breakpoint-md) {
    #tutorial {
        height: $tutorial-main-height-md;
        min-height: $tutorial-main-height-md;
        max-height: $tutorial-main-height-md;

        font-size: $tutorial-font-size-md;
        h1,h2,h3,h4,h5{
            font-size: $tutorial-header-size
        }
    }

    #tutorial-main {
        height: $tutorial-main-height-md;
        min-height: $tutorial-main-height-md;
        max-height: $tutorial-main-height-md;
    }

    #sidebar {
        width: $tutorial-sidebar-width-md;
        min-width: $tutorial-sidebar-width-md;
        max-width: $tutorial-sidebar-width-md;
    }

    .row-offcanvas {
        position: initial;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        width: initial;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .sidebar-offcanvas {
        position: initial;
        top: initial;
    }
}

// @media screen and (max-width: 768px) {
// #sidebar {
// width: 100vw;
// max-width: 100vw;
// min-width: 100vw;
// }
// .row-offcanvas {
// position: relative;
// -webkit-transition: all 0.15s ease-out;
// -moz-transition: all 0.15s ease-out;
// transition: all 0.15s ease-out;
//width: calc(100% + 250px);
// width: calc(100% + 100vw);
// }

// .row-offcanvas-left {
// //left: -250px;
// left: -100vw;
// }

// .row-offcanvas-left.active {
//     left: 0;
// }

// .sidebar-offcanvas {
//     position: absolute;
//     top: 0;
// }
// }






// #tutorial {
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6 {
//         margin-top: 2rem;
//         &.title {
//             margin-top: 0;
//             font-size: 2rem;
//             border-bottom: 1px solid darken($ophidianblue, 5%);
//         }
//         &.sub-heading {
//             font-size: 1.7rem;
//         }
//         &.sub-heading {
//             font-size: 1.5rem;
//         }
//     }

// }

// .wrapper {
//     display: flex;
//     width: 100%;
// }

// #sidebar {
//     width: 250px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     z-index:999;
//     background: darken($ophidianblue, 5%);
//     color: $white;
//     transition: all 0.3s;
// }

// #sidebar.active {
//     margin-left: -250px;
// }

// a[data-toggle="collapse"] {
//     position: relative;
// }

// .dropdown-toggle::after {
//     display: block;
//     position: absolute;
//     top: 50%;
//     right: 20px;
//     transform: translateY(-50%);
// }


// .thumbnail {
//     max-width: 40%;
// }

// .lightbox-wrapper {
//     display: none;
//     position: fixed;
//     z-index: 999;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     top: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.8);

//     .lightbox {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }

//     img {
//         max-width: 90%;
//         max-height: 80%;

//     }

//     &:target {
//         outline:none;
//         display:flex;
//         justify-content: center;
//     }
// }

// @media (max-width: 768px) {
//     #sidebar {
//         margin-left: -250px;
//     }
//     #sidebar.active {
//         margin-left: 0;
//     }
// }