<%# ---------------------------------------------------------------------------------
  Name:         default.ejs
  Type:         Layout
  Description:  This is the default Layout Templete that is used throughout the site.
  Notes:        -   Entire body is wrapped by the flex-wrap div.
  Last Refactored: 11/28/2018
---------------------------------------------------------------------------------  #%>
<!doctype html>
<html>

<head>
    <% include ../partials/_head %>
</head>

<body>
    <div id="flex-wrap">
        <header>
            <% include ../partials/navs/_default-top-nav %>
        </header>
        <main id="tutorial">
            <div class="row-offcanvas row-offcanvas-left">
                <div id="sidebar" class="sidebar-offcanvas">
                    <div class="col-md-12">
                        <%- sidebar %>
                    </div>
                </div>

                <div id="tutorial-main">
                        <p class="d-sm-none">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">&lt;</button>
                        </p>
                    <div class="col-md-12 h-100">
                        <div id="tutorial-wrapper">
                            <%- tutorial %>
                        </div>
                        <div id="prev-next-buttons">
                            <button type="button" class="btn btn-primary" id="prev">Previous</button>
                            <button type="button" class="btn btn-primary" id="next">Next</button>
                        <div>
                    </div>
                </div>
            </div>            
        </main>

        <footer>
            <% include ../partials/footers/_default-footer %>
        </footer>

        <% include ../partials/scripts/_default-scripts %>
    </div>
</body>

</html>