<div class="block-container">
    <div class="block">
        <div class="block-platforms">
            <% game.platforms.forEach((platform, i) => { %> 
                <div class="platform">
                    <a href="<%- platform.url %>" target="_blank">
                        <div class="platform-badge" style="background-image: url('img/badges/<%- platform.name %>-badge.png');"></div>
                    </a>
                </div>
            <% }) %>                        
        </div>
    </div>
</div>