---
site_title: "ManBeardGames"
site_description: "ManBeardGames is an indie game developer, web developer, and twitch streamer."

og_title: "ManBeardGames"
og_image: "https://manbeardgames.com/img/ogmbg.png"
og_description: "ManBeardGames is an indie game developer, web developer, and twitch streamer."
og_type: "website"

page_layout: "default"
page_nav_header: "ManBeardGames"
---

<%- include ../partials/_landing %>
<div class="content">
<div id="swap"></div>
  <div class="container-fluid m-0 p-0">
    <div id="games">
      <%- include ../partials/_games %>
    </div>
  </div>
</div>