---
site: {
    title: "Tutorials",
    description: "ManBeardGames is an indie game developer, web developer, and twitch streamer. These are tutorials written on game development."
}

og: {
    title: "Tutorials",
    image: "https://manbeardgames.com/img/ogmbg.png",
    description: "ManBeardGames is an indie game developer, web developer, and twitch streamer. These are tutorials written on game development."
}

page: {
    layout: "flexed",
    navheader: "ManBeardGames"
}
---
<div class="container post">

# Tutorials
Tutorials will be up very soon. I have a bunch of stuff planned for this on different things with
MonoGame. I hope you'll be as excited about it as I am.  When tutorials as posted, I'll be announcing that
on my [twitter](https://www.twitter.com/manbeardgames), so be sure to follow me there.


</div>