<%# ---------------------------------------------------------------------------------
  Name:         _default-footer.ejs
  Type:         Partial
  Description:  This is the default partial templete for the <footer> of the page
  Last Refactored: 06/21/2019
  Reason Refactord: Wanted to make the footer smaller. Moved icons to header navbar
                    removed all other information, and just kept it simple with name
                    and copyright
---------------------------------------------------------------------------------  #%>

<span class="footer-brand">ManBeardGames <span>&copy; 2019</span></span>