<%-
// ----------------------------------------------------------------------------
//  Description
// ----------------------------------------------------------------------------
//  Used for rendering the indiviaul sections of a tutorial, contained within
//  a tutorial-section div
//
// ----------------------------------------------------------------------------
//  Parameters
// ----------------------------------------------------------------------------
//  [string] tutorial_render
//      A string containing the already rendered HTML for this section of the
//      tutorial
// ----------------------------------------------------------------------------
%>
<div class="tutorial-section">
    <%= tutorial_render %>
</div>