---
site: {
    "title": "ManBeardGames",
    "description": "",
    "basePath": ""
}
opengraph: {
    "type": "website",
    "image": "https://manbeardgames.com/img/ogmbg.png",
    "siteName": "ManBeardGames",
    "description": "ManBeardGames is an indie game developer, web developer, and twitch streamer."
}
page: {
    "layout": "default",
    "navheader": ""
}
---
<div class="container">
    <div class="tutorial-section">
        <h1>Header One</h1>
        <p>Paragraph one</p>
        <a class="arrow arrow-prev" href="#item3"></a>
        <a class="arrow arrow-next" href="#item2"></a>
    </div>
    <div class="tutorial-section">
        <h1>Header Two</h1>
        <p>Paragraph Two</p>
        <a class="arrow arrow-prev" href="#item1"></a>
        <a class="arrow arrow-next" href="#item3"></a>
    </div>
    <div class="tutorial-section">
        <h1>Header Three</h1>
        <p>Paragraph Three</p>
        <a class="arrow arrow-prev" href="#item2"></a>
        <a class="arrow arrow-next" href="#item1"></a>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" id="prev">&lt;</button>
            <button class="btn btn-primary" id="next">&gt;</button>
        </div>
    </div>
</div>