<!doctype html>
<html>
    <head>
        <% include ../partials/_head %>
    </head>

    <body>
        <header>
            <% include ../partials/_top_nav %>
        </header>

        <main>
            <%- body %>
        </main>

        <footer>
            <% include ../partials/_footer %>
        </footer>

        <% include ../partials/_scripts %>
    </body>
</html>